body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e6f2ff, #cce0ff);
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Header stil düzenlemesi */
/* Header stil düzenlemesi */
header {
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 10px 20px;
  display: flex; /* Flexbox düzenini etkinleştir */
  align-items: center; /* Dikey olarak ortala */
  justify-content: space-between; /* Sola, ortaya ve sağa yasla */
  position: fixed; /* Üst çubuğu sabitle */
  width: 100%; /* Genişliği tam ekran yap */
  z-index: 100;
}

header .logo {
  margin: 0;
  font-size: 1.2em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
  margin-right: 20px;
}

nav ul li a:hover {
  color: #ddd;
}

/* Sosyal medya ikonları (header) stil düzenlemesi */
.social-links-header {
  display: flex;
  gap: 30px;
  margin-right: 50px;
}

.social-links-header .social-icon {
  /* Sosyal medya ikonları için stil (header) */
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-links-header .social-icon:hover {
  color: #0073e6;
  transform: scale(1.2);
}
/* Section stil düzenlemesi */
section {
  padding: 40px 10px;
  margin: 100px 0 20px 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.profile-img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-text h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.welcome-text p {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Sosyal medya ikonları (Ana Sayfa) stil düzenlemesi */
.social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.social-icon {
  font-size: 2em;
  color: #333;
  text-decoration: none;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-icon:hover {
  color: #0073e6;
  transform: scale(1.2);
}

/* Özgeçmiş stil düzenlemesi */
#about .resume {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.resume-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.resume-box:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.resume-section-title {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333;
}

.resume-list {
  font-size: 1em;
  list-style: none;
  padding: 0;
}

.resume-list li {
  margin-bottom: 10px;
}

.resume-list strong {
  font-weight: bold;
}

/* Çalışmalar stil düzenlemesi */
.work-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.work-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.work-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.work-item h3 {
  margin-bottom: 10px;
  color: #333;
}

.work-item p {
  font-size: 0.9em;
  line-height: 1.5;
}

.github-link {
  display: inline-block;
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.github-link:hover {
  background-color: #0073e6;
  transform: scale(1.1);
}

/* İletişim stil düzenlemesi */
.contact-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* İletişim kutularını küçült */
  gap: 20px;
}

.contact-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-align: center; /* İçeriği ortala */
  max-height: 150px;
}

.contact-box:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.contact-section-title {
  font-size: 1.3em; /* Başlık boyutunu küçült */
  margin-bottom: 10px;
  color: #333;
}

.contact-text {
  font-size: 0.9em; /* Yazı boyutunu küçült */
}

/* İletişim formu stil düzenlemesi */
.contact-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  grid-column: span 3; /* Formu 3 sütuna yay */
  grid-row: 2;
  max-width: 650px;
}

.contact-form:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.contact-form div {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 150px;
  resize: vertical;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #555;
}

/* Referanslar stil düzenlemesi */
.references-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.reference-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-align: center; /* İçeriği ortala */
}

.reference-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.reference-item h3 {
  margin-bottom: 10px;
  color: #333;
}

.reference-item p {
  font-size: 0.9em;
  line-height: 1.5;
}

/* Referans fotoğrafı stil düzenlemesi */
.reference-photo {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 15px auto; /* Fotoğrafı ortala ve altına boşluk ekle */
  border: 3px solid #ddd; /* Fotoğraf çerçevesi */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Fotoğrafa hafif gölge ekle */
}

.reference-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Ana sayfa bölümleri stil düzenlemesi */
.sections-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.section-overview {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: #333;
}

.section-overview:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.section-overview h3 {
  margin-bottom: 10px;
}

.section-overview p {
  font-size: 0.9em;
  line-height: 1.5;
}

/* Footer stil düzenlemesi */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  width: 100%;
}
